In [77]:
import pymongo
import pandas as pd
import numpy as np
import glob
import json
import unicodedata
from networkx.readwrite import json_graph
from bson.objectid import ObjectId
import pydot
import networkx as nx
import matplotlib.pyplot as plt
import json
from networkx.drawing.nx_pydot import graphviz_layout

In [ ]:
def clean_upper(x):
    try:
        x =  x.strip().upper().replace(' ','').replace('Ã‘','N').replace('"','').replace('.','')
        trans_tab = dict.fromkeys(map(ord, u'\u0301\u0308'), None)
        trans_tab= unicodedata.normalize('NFKC', unicodedata.normalize('NFKD', x).translate(trans_tab))
    except:
        trans_tab = np.nan
    return trans_tab

In [78]:
#Conexion a la Base de Datos en Mongo DB
myclient = pymongo.MongoClient("mongodb+srv://datomicosteam:9T423XqBGa5Zn706@datomicoscluster-8fe1df9c.mongo.ondigitalocean.com/dataton?tls=true&authSource=admin&replicaSet=datomicoscluster")
database = myclient['dataton']

In [79]:
#Colleeciones a consultar
servidores = database.get_collection('s1_declaraciones')
sancionados = database.get_collection('s3_sancionados')

In [80]:
#Limpieza de la base S2
nombres = []
primerApellido = []
segundoApellido = []
institucionDependencia = []
claveinstitucionDependencia =[]
puestoNombre = []
puestoNivel = []
superiorinmediationombre = []
superiorinmediatioapellido1 = []
superiorinmediatioapellido2= []
superiorinmediatiopuestonivel = []
superiorinmediatiopuestonombre = []
estado = []
ramo = []

for _ in glob.glob('./S2/**/*.json'):
    with open(_, encoding="utf-8") as file:
        data=json.load(file)
        for element in data:
            try:
                nombres.append(element['nombres'])
            except:
                nombres.append(np.nan)
            try:
                primerApellido.append(element['primerApellido'])
            except:
                primerApellido.append(np.nan)
            try:
                segundoApellido.append(element['segundoApellido'])
            except:
                segundoApellido.append(np.nan)
            try:
                institucionDependencia.append(element['institucionDependencia']['nombre'])
            except:
                institucionDependencia.append(np.nan)
            try:
                claveinstitucionDependencia.append(element['institucionDependencia']['clave'])
            except:
                claveinstitucionDependencia.append(np.nan)
            try:
                puestoNombre.append(element['puesto']['nombre'])
            except:
                puestoNombre.append(np.nan)
            try:
                puestoNivel.append(element['puesto']['nivel']) 
            except:
                puestoNivel.append(np.nan)
            try:
                superiorinmediationombre.append(element['superiorInmediato']['nombres'])
            except:
                superiorinmediationombre.append(np.nan)
            try:
                superiorinmediatioapellido1.append(element['superiorInmediato']['primerApellido'])
            except:
                superiorinmediatioapellido1.append(np.nan)
            try:
                superiorinmediatioapellido2.append(element['superiorInmediato']['segundoApellido'])
            except:
                superiorinmediatioapellido2.append(np.nan)
            try:
                superiorinmediatiopuestonivel.append(element['superiorInmediato']['puesto']['nivel'])
            except:
                superiorinmediatiopuestonivel.append(np.nan)
            try:
                superiorinmediatiopuestonombre.append(element['superiorInmediato']['puesto']['nombre'])
            except:
                superiorinmediatiopuestonombre.append(np.nan)
            try:
                estado.append(element['state'])
            except:
                estado.append(np.nan)
            try:
                ramo.append(element['ramo']['valor'])
            except:
                ramo.append(np.nan)

In [81]:
superiores_s2 = pd.DataFrame({
    'Nombre':nombres,
    'Apellido 1':primerApellido,
    'Apellido 2':segundoApellido,
    'Institucion':institucionDependencia,
    'Clave Institucion':claveinstitucionDependencia,
    'Puesto Nombre':puestoNombre,
    'Puesto Nivel':puestoNivel,
    'Superior Nombre':superiorinmediationombre,
    'Superior Apellido 1':superiorinmediatioapellido1,
    'Superior Apellido 2':superiorinmediatioapellido2,
    'Superior Puesto Nivel':superiorinmediatiopuestonivel,
    'Superior Puesto Nombre':superiorinmediatiopuestonombre,
    'Estado':estado,
    'Ramo':ramo
    
}).replace({
    'None':np.nan,
    'NA': np.nan
})

In [83]:
# Le damos formato a las variables categoricas
superiores_s2['Nombre'] = superiores_s2['Nombre'].apply(lambda x: clean_upper(x) )
superiores_s2['Apellido 1'] = superiores_s2['Apellido 1'].apply(lambda x: clean_upper(x) )
superiores_s2['Apellido 2'] = superiores_s2['Apellido 2'].apply(lambda x: clean_upper(x) )
superiores_s2['Institucion'] = superiores_s2['Institucion'].apply(lambda x: clean_upper(x) )
superiores_s2['Clave Institucion'] = superiores_s2['Clave Institucion'].apply(lambda x: clean_upper(x) )
superiores_s2['Puesto Nombre'] = superiores_s2['Puesto Nombre'].apply(lambda x: clean_upper(x) )
superiores_s2['Puesto Nivel'] = superiores_s2['Puesto Nivel'].apply(lambda x: clean_upper(x) )
superiores_s2['Superior Nombre'] = superiores_s2['Superior Nombre'].apply(lambda x: clean_upper(x) )
superiores_s2['Superior Apellido 1'] = superiores_s2['Superior Apellido 1'].apply(lambda x: clean_upper(x) )
superiores_s2['Superior Apellido 2'] = superiores_s2['Superior Apellido 2'].apply(lambda x: clean_upper(x) )
superiores_s2['Superior Puesto Nivel'] = superiores_s2['Superior Puesto Nivel'].apply(lambda x: clean_upper(x) )
superiores_s2['Superior Puesto Nombre'] = superiores_s2['Superior Puesto Nombre'].apply(lambda x: clean_upper(x) )
superiores_s2['Estado'] = superiores_s2['Estado'].apply(lambda x: clean_upper(x) )
superiores_s2['Ramo'] = superiores_s2['Ramo'].apply(lambda x: clean_upper(x) )

In [84]:
superiores_s2 = superiores_s2.drop_duplicates()

In [85]:
superiores_s2 = superiores_s2.replace('',np.nan)

In [86]:
superiores_s2.to_csv('S2_con_superiores.csv')

In [87]:
#Limpieza de la base de sancionados 
#Bases en local
nombres = []
primerApellido = []
segundoApellido = []
institucionDependencia = []
claveinstitucionDependencia =[]
puestoNombre = []
puestoNivel = []
superiorinmediationombre = []
superiorinmediatioapellido1 = []
superiorinmediatioapellido2= []
superiorinmediatiopuestonivel = []
superiorinmediatiopuestonombre = []

for _ in glob.glob('./S3/**/*.json'):
    with open(_, encoding="utf-8") as file:
        data=json.load(file)
        for element in data:
            try:
                nombres.append(element["servidorPublicoSancionado"]['nombres'])
            except:
                nombres.append(np.nan)
            try:
                primerApellido.append(element["servidorPublicoSancionado"]['primerApellido'])
            except:
                primerApellido.append(np.nan)
            try:
                segundoApellido.append(element["servidorPublicoSancionado"]['segundoApellido'])
            except:
                segundoApellido.append(np.nan)
            try:
                institucionDependencia.append(element['institucionDependencia']['nombre'])
            except:
                institucionDependencia.append(np.nan)
            try:
                claveinstitucionDependencia.append(element['institucionDependencia']['clave'])
            except:
                claveinstitucionDependencia.append(np.nan)

In [88]:
superiores_s3 = pd.DataFrame({
    'Nombre':nombres,
    'Apellido 1':primerApellido,
    'Apellido 2':segundoApellido,
    'Institucion':institucionDependencia,
})

In [89]:
superiores_s3['Nombre'] = superiores_s3['Nombre'].apply(lambda x: clean_upper(x) )
superiores_s3['Apellido 1'] = superiores_s3['Apellido 1'].apply(lambda x: clean_upper(x) )
superiores_s3['Apellido 2'] = superiores_s3['Apellido 2'].apply(lambda x: clean_upper(x) )
superiores_s3['Institucion'] = superiores_s3['Institucion'].apply(lambda x: clean_upper(x) )

In [90]:
superiores_s3['Sancionado'] = 1

In [91]:
# Cruce entre ambas base

In [92]:
superiores_s2['id_servidor'] = superiores_s2['Nombre'] + superiores_s2['Apellido 1'] + superiores_s2['Apellido 2']
superiores_s2['id_jefe'] = superiores_s2['Superior Nombre'] + superiores_s2['Superior Apellido 1'] + superiores_s2['Superior Apellido 2']
superiores_s2['id_servidor'] = superiores_s2['Nombre'].fillna('SINNOMBRE') + superiores_s2['Apellido 1'].fillna('SINAPELLIDO') + superiores_s2['Apellido 2'].fillna('SINAPELLIDO')

In [93]:
superiores_s3['id_servidor'] = superiores_s3['Nombre'] + superiores_s3['Apellido 1'] + superiores_s3['Apellido 2']

# Limpieza de S1

In [94]:
mongo_id = []
nombres = []
primerApellido = []
segundoApellido = []
nivel_escolar = []
status_escolaridad =[]
nivelEmpleoCargoComision = []
remuneracionMensualCargoPublico = []
remuneracionMensualCargoPublicoMoneda = []
otrosIngresosMensualesTotal = []
otrosIngresosMensualesTotalMoneda = []
totalIngresosMensualesNetos = []
totalIngresosMensualesNetosMoneda = []
BienesInmubeles = []
ingresoNetoAnualDeclarante = []



for document in servidores.find():
    try:
        mongo_id.append(document['_id'])
    except:
        mongo_id.append(np.nan)
    try:
        nombres.append(document['declaracion']['situacionPatrimonial']['datosGenerales']['nombre'])
    except:
        nombres.append(np.nan)
    try:
        primerApellido.append(document['declaracion']['situacionPatrimonial']['datosGenerales']['primerApellido'])
    except:
        primerApellido.append(np.nan)
    try:
        segundoApellido.append(document['declaracion']['situacionPatrimonial']['datosGenerales']['segundoApellido'])
    except:
        segundoApellido.append(np.nan)
    try:
        nivel_escolar.append(document['declaracion']['situacionPatrimonial']['datosCurricularesDeclarante']['escolaridad'][0]['nivel']['valor'])
    except:
        nivel_escolar.append(np.nan)
    try:
        status_escolaridad.append(document['declaracion']['situacionPatrimonial']['datosCurricularesDeclarante']['escolaridad'][0]['estatus'])
    except:
        status_escolaridad.append(np.nan)
    try:
        nivelEmpleoCargoComision.append(document['declaracion']['situacionPatrimonial']['datosEmpleoCargoComision']['nivelEmpleoCargoComision'])
    except:
        nivelEmpleoCargoComision.append(np.nan)
    try:
        remuneracionMensualCargoPublico.append(document['declaracion']['situacionPatrimonial']['ingresos']['remuneracionMensualCargoPublico']['valor'])
    except:
        remuneracionMensualCargoPublico.append(np.nan)
    try:
        remuneracionMensualCargoPublicoMoneda.append(document['declaracion']['situacionPatrimonial']['ingresos']['remuneracionMensualCargoPublico']['moneda'])
    except:
        remuneracionMensualCargoPublicoMoneda.append(np.nan)
    try:
        otrosIngresosMensualesTotal.append(document['declaracion']['situacionPatrimonial']['ingresos']['totalIngresosMensualesNetos']['valor'])
    except:
        otrosIngresosMensualesTotal.append(np.nan)
    try:
        otrosIngresosMensualesTotalMoneda.append(document['declaracion']['situacionPatrimonial']['ingresos']['totalIngresosMensualesNetos']['moneda'])
    except:
        otrosIngresosMensualesTotalMoneda.append(np.nan)
    try:
        totalIngresosMensualesNetos.append(document['declaracion']['situacionPatrimonial']['ingresos']['totalIngresosMensualesNetos']['valor'])
    except:
        totalIngresosMensualesNetos.append(np.nan)
    try:
        totalIngresosMensualesNetosMoneda.append(document['declaracion']['situacionPatrimonial']['ingresos']['totalIngresosMensualesNetos']['moneda'])
    except:
        totalIngresosMensualesNetosMoneda.append(np.nan)
    try:
        BienesInmubeles.append(document['declaracion']['situacionPatrimonial']['bienesInmuebles']['ninguno'])
    except:
        BienesInmubeles.append(np.nan)
    try:
        ingresoNetoAnualDeclarante.append(document['declaracion']['situacionPatrimonial']['actividadAnualAnterior']['ingresoNetoAnualDeclarante']['valor'])
    except:
        ingresoNetoAnualDeclarante.append(np.nan)

ServerSelectionTimeoutError: 0:27017: [Errno 11001] getaddrinfo failed, Timeout: 30s, Topology Description: <TopologyDescription id: 638bdd8c074142f20438a964, topology_type: Unknown, servers: [<ServerDescription ('0', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('0:27017: [Errno 11001] getaddrinfo failed')>]>

In [ ]:
s1_declaraciones = pd.DataFrame({
'Nombre':nombres,
'Apellido 1':primerApellido,
'Apellido 2':segundoApellido,
'mongo_id':mongo_id,
'nivel_escolar':nivel_escolar,
'status_escolaridad':status_escolaridad,
'nivelEmpleoCargoComision':nivelEmpleoCargoComision,
'remuneracionMensualCargoPublico':remuneracionMensualCargoPublico,
'remuneracionMensualCargoPublicoMoneda':remuneracionMensualCargoPublicoMoneda,
'otrosIngresosMensualesTotal':otrosIngresosMensualesTotal,
'otrosIngresosMensualesTotalMoneda':otrosIngresosMensualesTotalMoneda,
'totalIngresosMensualesNetos':totalIngresosMensualesNetos,
'totalIngresosMensualesNetosMoneda':totalIngresosMensualesNetosMoneda,
'BienesInmubeles':BienesInmubeles,
'ingresoNetoAnualDeclarante':ingresoNetoAnualDeclarante

})

In [ ]:
s1_declaraciones['Nombre'] = s1_declaraciones['Nombre'].apply(lambda x: clean_upper(x) )
s1_declaraciones['Apellido 1'] = s1_declaraciones['Apellido 1'].apply(lambda x: clean_upper(x) )
s1_declaraciones['Apellido 2'] = s1_declaraciones['Apellido 2'].apply(lambda x: clean_upper(x) )

In [ ]:
s1_declaraciones['id_servidor'] = s1_declaraciones['Nombre'].fillna('SINNOMBRE') + s1_declaraciones['Apellido 1'].fillna('SINAPELLIDO') + s1_declaraciones['Apellido 2'].fillna('SINAPELLIDO')

In [ ]:
s1_declaraciones.to_csv('s1_declaraciones.csv')

In [147]:
s1_declaraciones = pd.read_csv('s1_declaraciones.csv')

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [140]:
ramos = superiores_s2[['Institucion','Ramo']].groupby('Institucion').first().reset_index()

KeyError: "['Ramo'] not in index"

In [ ]:
superiores_s2 = pd.merge(superiores_s2,ramos, on = 'Institucion', how = 'left')

In [148]:
Data = superiores_s2[['Institucion','Ramo_y','id_jefe','id_servidor']]

In [149]:
Data = Data.dropna()

In [150]:
superiores_s3 = superiores_s3[['id_servidor','Institucion']]

In [151]:
#Data
Data = Data[Data.id_servidor.isin(s1_declaraciones.id_servidor)]
Data = Data.drop_duplicates()

In [152]:
declaraciones = s1_declaraciones[['mongo_id','id_servidor','remuneracionMensualCargoPublico','BienesInmubeles','otrosIngresosMensualesTotal','totalIngresosMensualesNetos']]
declaraciones = declaraciones.drop_duplicates()
declaraciones = declaraciones.sort_values('BienesInmubeles').groupby('id_servidor').first().reset_index()

In [174]:
declaraciones.to_csv('Declaraciones_correcta.csv')

In [153]:
Data = pd.merge(Data,declaraciones, on = 'id_servidor', how = 'left')

In [154]:
Data.BienesInmubeles.value_counts()

True     261
False    145
Name: BienesInmubeles, dtype: int64

In [32]:
Data.to_csv('data_completa.csv')

# Grafo

In [156]:
banderas = pd.read_csv('banderas.csv')

In [160]:
banderas = banderas[['mongo_id','Bandera1','Bandera2','Bandera3','Bandera4','Bandera5']]

In [181]:
Data_ = pd.merge(Data,banderas, on = 'mongo_id', how = 'left')

In [182]:
Data_['No_declaro']= np.where((Data_.Bandera1 == 'red') & 
            (Data_.Bandera2 == 'white') &
            (Data_.Bandera3 == 'white') &
            (Data_.Bandera4 == 'white') &
            (Data_.Bandera5 == 'white'),0, 1)

In [184]:
colors_1 = {'white':0,
         'red':2,
         'green':1,
         'yellow':1.5}

In [180]:
#Data.Bandera1 = Data.Bandera1.map(colors)
Data_.Bandera2 = Data_.Bandera2.map(colors)
Data_.Bandera3 = Data_.Bandera3.map(colors)
Data_.Bandera4 = Data_.Bandera4.map(colors)
Data_.Bandera5 = Data_.Bandera5.map(colors)

In [135]:
Data_['Total'] = Data_[['Bandera1','Bandera2','Bandera3','Bandera4','Bandera5']].sum(axis = 1)

In [ ]:
### Bandera5 . 3
### Bandera4 . 3
### Bandera3
### Bandera2

In [199]:
Data_['size'] = pd.cut(Data_.totalIngresosMensualesNetos, 10)

In [201]:
dic = Data_[['id_servidor','Bandera1','size']]
dic.Bandera1 = dic.Bandera1 .map({'red':'#9736ff',
                                 'green':'#35e862'})

C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [202]:
dic.to_csv('Sizes.csv')

In [294]:
ramo

array(['PARTICIPACIONESAENTIDADESFEDERATIVASYMUNICIPIOS',
       'PODEREJECUTIVO', 'MUNICIPIOS', 'ORGANISMOSDESCENTRALIZADOS',
       'APORTACIONESFEDERALESPARAENTIDADESFEDERATIVASYMUNICIPIOS',
       'JUSTICIA', 'OTROSSERVICIOSGENERALES',
       'ASUNTOSECONOMICOS,COMERCIALESYLABORALESENGENERAL',
       'COORDINACIONDELAPOLITICADEGOBIERNO',
       'ASUNTOSFINANCIEROSYHACENDARIOS', 'EDUCACION', 'PODERJUDICIAL',
       'PROVISIONESSALARIALESYECONOMICAS',
       'AU07INSTITUTODEACCESOALAINFORMACIONPUBLICADELESTADODEGUANAJUATO',
       'SECADMONSECRETARIADEADMINISTRACIONJALISCO', 'OBRASPUBLICAS'],
      dtype=object)

In [293]:
instituciones = Data_.Institucion.unique()
ramo = Data_.Ramo_y.unique()
jefe = Data_.id_jefe.unique()
id_servidor = Data_.id_servidor.unique()

In [55]:
_graph = nx.Graph()

In [35]:
#_graph.add_node('Central', color = 'magenta')

In [56]:
_graph = nx.Graph()
for i in instituciones:
    _graph.add_node(i, 
                    color = 'blue')
for i in ramo:
    _graph.add_node(i, color = 'red')
for i in jefe:
    _graph.add_node(i, color = 'yellow')
for i in id_servidor:
    _graph.add_node(i, color = 'green')
#enlaces instituciones
for index, item in Data.iterrows():
    edge = (item.Institucion,item.Ramo_y)
    _graph.add_edge(*edge)
    #enlaces jefes
for index, item in Data.iterrows():
    edge = (item.Institucion,item.id_jefe)
    _graph.add_edge(*edge)
#enlaces servidor
for index, item in Data.iterrows():
    edge = (item.id_servidor,item.id_jefe)
    _graph.add_edge(*edge)

In [57]:
for i in ramo:
    _graph.add_node(i, color = 'red')

In [58]:
for i in jefe:
    _graph.add_node(i, color = 'yellow')

In [59]:
for i in id_servidor:
    _graph.add_node(i, color = 'green')

In [60]:
#enlaces instituciones
for index, item in Data.iterrows():
    edge = (item.Institucion,item.Ramo_y)
    _graph.add_edge(*edge)

In [61]:
#enlaces jefes
for index, item in Data.iterrows():
    edge = (item.Institucion,item.id_jefe)
    _graph.add_edge(*edge)

In [62]:
#enlaces servidor
for index, item in Data.iterrows():
    edge = (item.id_servidor,item.id_jefe)
    _graph.add_edge(*edge)

# Creacion de Subredes

In [284]:
graphs = []
for i in Data.id_servidor.unique():
    _graph = nx.Graph()
    df = Data[Data.id_servidor == i]
    jefe = df.groupby('id_servidor').first().reset_index().id_jefe[0]
    institucion = df.groupby('id_servidor').first().reset_index().Institucion[0]
    mongo_id = df.groupby('mongo_id').first().reset_index().mongo_id[0]
    _graph.add_node(jefe, color = 'yellow')
    _graph.add_node(institucion, color = 'blue')
    jefe_df = Data[Data.id_jefe == str(jefe)]
    edge = (institucion,jefe)
    _graph.add_edge(*edge)
    for id_servidor  in jefe_df.id_servidor:
        _graph.add_node(id_servidor, color = 'green')
        edge = (jefe,id_servidor)
        _graph.add_edge(*edge)
    data = json_graph.node_link_data(_graph)
    data['mongo_id'] = mongo_id
    
    with open('./Subgraphs_insticiones/' + str(i) + '.json', 'w') as f:
        json.dump(data, f, indent=4)

In [232]:
for i in Data.id_servidor.unique():
    
    graph = nx.Graph()
    df = Data[Data.id_servidor == i]
    
    institucion = df.groupby('id_servidor').first().reset_index().Institucion[0]
    mongo_id = df.groupby('mongo_id').first().reset_index().mongo_id[0]
    
    _graph.add_node(institucion, color = 'blue')
    
    institucion_df = Data[Data.Institucion == str(institucion)]
    
    for jefe in institucion_df.id_jefe.unique():
        _graph.add_node(jefe, color = 'yellow')
        edge = (institucion,jefe)
        _graph.add_edge(*edge)
        
        jefe_df = Data[Data.id_jefe == str(jefe)]
        for id_servidor  in jefe_df.id_servidor:
            _graph.add_node(id_servidor, color = 'green')
            edge = (jefe,id_servidor)
            _graph.add_edge(*edge)
    
    data = json_graph.node_link_data(_graph)
    data['mongo_id'] = mongo_id
    
    with open('./Subgraphs_insticiones/' + str(i) + '.json', 'w') as f:
        json.dump(data, f, indent=4)

In [237]:
len(list_instituciones)

373

In [235]:
list_instituciones = []
for _ in glob.glob('./Subgraphs_insticiones/*.json'):
    with open(_, encoding="utf-8") as file:
        data=json.load(file)
        list_instituciones.append(data)

In [285]:
with open('./Subgraphs_insticiones/Concatenados.json', 'w') as f:
    json.dump(list_instituciones, f, indent=4)

In [277]:
with open('./Subgraphs_insticiones/Concatenados_2.json', 'w') as f:
    json.dump(list_instituciones[25:50], f, indent=4)

In [278]:
with open('./Subgraphs_insticiones/Concatenados_3.json', 'w') as f:
    json.dump(list_instituciones[50:55], f, indent=4)

In [279]:
with open('./Subgraphs_insticiones/Concatenados_4.json', 'w') as f:
    json.dump(list_instituciones[55:60], f, indent=4)

In [280]:
with open('./Subgraphs_insticiones/Concatenados_5.json', 'w') as f:
    json.dump(list_instituciones[60:75], f, indent=4)

In [281]:
with open('./Subgraphs_insticiones/Concatenados_6.json', 'w') as f:
    json.dump(list_instituciones[75:100], f, indent=4)

In [282]:
with open('./Subgraphs_insticiones/Concatenados_7.json', 'w') as f:
    json.dump(list_instituciones[100:150], f, indent=4)

In [283]:
with open('./Subgraphs_insticiones/Concatenados_8.json', 'w') as f:
    json.dump(list_instituciones[150:], f, indent=4)

In [40]:
for index, item in Data.iterrows():
    edge = ('Central',item.Ramo_y)
    _graph.add_edge(*edge)

In [68]:
nx.write_gexf(_graph, 'g_test_shape' +'.gexf')

In [64]:
nx.write_edgelist(_graph,'redcompleta.csv')

# Formateo de anomalias

In [204]:
anomalias = pd.read_csv('anomalias.csv')

In [210]:
anomalias['Bandera6'] = np.where(anomalias.totalIngresosMensualesNetos >= 167583,'red','green')

In [287]:
anomalias.Bandera5.value_counts()

white     148347
green        883
yellow        78
red           11
Name: Bandera5, dtype: int64

In [226]:
diccionarios = []
for index, item in anomalias.iterrows():
    dict_ = dict()
    dict_['mongo_id'] = item.mongo_id
    #dict_['totalIngresosMensualesNetos'] = item.totalIngresosMensualesNetos
    dict_['Bandera1'] = item.Bandera1
    dict_['Bandera2'] = item.Bandera2
    dict_['Bandera3'] = item.Bandera3
    dict_['Bandera4'] = item.Bandera4
    dict_['Bandera5'] = item.Bandera5
    dict_['Bandera6'] = item.Bandera6
    dict_['id_servidor'] = item.id_servidor
    #dict_['Valor_auto'] = item.Valor_auto
    #dict_['Valor_credito'] = item.Valor_credito
    #dict_['Valor_contado'] = item.Valor_contado
    diccionarios.append(dict_)

In [227]:
with open('./Banderas.json', 'w') as f:
    json.dump(diccionarios, f, indent=4)

In [228]:
dict_

{'mongo_id': '63899eea451f5e01622181d1',
 'Bandera1': 'green',
 'Bandera2': 'white',
 'Bandera3': 'white',
 'Bandera4': 'white',
 'Bandera5': 'white',
 'Bandera6': 'green',
 'id_servidor': '|JUANCARLOSSALAZARCHANDOMI'}

In [290]:
anomalias[anomalias.mongo_id == '6389a0add39bc45687ab4fa3']

,Unnamed: 0,mongo_id,id_servidor,totalIngresosMensualesNetos,Bandera1,Valor_auto,Bandera2,Bandera3,Valor_credito,Bandera4,Valor_contado,Bandera5,Bandera6
297,297,6389a0add39bc45687ab4fa3,ABELGONZALEZDOMINGUEZ,528000.0,green,385000.0,green,green,NaN,white,NaN,white,red

In [289]:
anomalias[anomalias.Bandera2 == 'red']

,Unnamed: 0,mongo_id,id_servidor,totalIngresosMensualesNetos,Bandera1,Valor_auto,Bandera2,Bandera3,Valor_credito,Bandera4,Valor_contado,Bandera5,Bandera6
115,115,6389a0add39bc45687aa816f,AARONRUELASFERNANDEZ,368999.0,green,2170000.00,red,green,NaN,white,NaN,white,red
139,139,638a52db19ee831781be405a,ABDELALEJANDROLUEVANONUNEZ,49300.0,green,1223200.00,red,green,NaN,white,NaN,white,green
1713,1713,63899eea451f5e016221a6b9,ADRIANADELAVEGAVILLATORO,12147.0,green,18000000.00,red,green,NaN,white,NaN,white,green
1783,1783,6389a0add39bc45687aac0ff,ADRIANAFUENTESTELLEZ,417494.0,green,2758526.61,red,green,NaN,white,NaN,white,red
2551,2551,638a4025306cb74d0f8ca269,AGUSTINALFREDOLOPEZARROYO,NaN,red,1580593.00,red,green,NaN,white,NaN,white,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145377,145377,63899eea451f5e01622158d5,VICTORMANUELGONZALEZCONSTANTINO,6000.0,green,30050000.00,red,green,NaN,white,NaN,white,green
146764,146764,638a53b6befe558d38479aaf,XENIAMARIAMENDEZBATRES,26766.0,green,28538560.00,red,green,NaN,white,NaN,white,green
148311,148311,638a52145418178744ef2b88,YOLANDAJOSEFINACEPEDAECHAVARRIA,78536.0,green,1219690.00,red,green,NaN,white,NaN,white,green
148678,148678,638a53b6befe558d38479b79,YULIANAYOCELINDIAZMORENO,879066.0,green,17500000.00,red,green,NaN,white,NaN,white,red
149003,149003,638a53b6befe558d38479b9b,ZAYRAFABIOLALOERASANDOVAL,NaN,red,1037665.00,red,green,NaN,white,NaN,white,green